.progressContainer {
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ddd;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.stepLabel {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    text-align: center;
    transition: color 0.3s;
}

.line {
    width: 50px;
    height: 3px;
    margin-bottom: 30px;
    background-color: #ddd;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.completed .circle {
    background-color: #4caf50;
}

.completed .stepLabel {
    color: #4caf50;
}

.completed+.line {
    background-color: #4caf50;
}

.current .circle {
    background-color: #b44bff;
}

.current .stepLabel {
    color: #b686cc;
}

.upcoming .circle {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.758);
}

.upcoming .stepLabel {
    color: #ffffffa7;
}

@media (max-width: 600px) {
    .progressContainer {
        flex-direction: column;
    }

    .line {
        width: 3px;
        height: 50px;
    }
}