.container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.container form {
    position: relative;
    margin-top: 30px;
    width: 50%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.708);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

.container form h1 {
    text-shadow:
        3px 3px 5px rgba(75, 0, 130, 0.5),
        -3px -3px 5px rgba(138, 43, 226, 0.4),
        0px 0px 8px rgba(138, 43, 226, 0.8),
        0px 0px 20px rgba(138, 43, 226, 0.6);
    color: white;
}

.back {
    position: absolute;
    left: 30px;
    top: 25px;
    font-size: 1.5rem;
    cursor: pointer;
}

.back:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 14px;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

.back::after {
    visibility: hidden;
    opacity: 0;
}

.back i {
    transition: scale .3s linear;
}

.back:active i{
    scale: 0.85;
}

.file {
    position: relative;
    height: 100px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #b74db952;
    background-color: rgba(59, 40, 80, 0.805);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.file .icon {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}

.file .text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.file .text span {
    font-weight: 400;
    color: rgb(202, 202, 202);
}

.file input {
    display: none;
}

.info {
    width: 80%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    color: gray;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.input label:nth-child(1), .input label:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.input input, .input textarea {
    border: 2px solid purple;
    background-color: black;
    color: white;
    width: 100%;
    font-size: 1.1rem;
    height: 30px;
    border-radius: 10px;
    text-indent: 5px;
    padding: 5px;
}

.input textarea {
    resize: none;
    height: 100px;
}

.input input[type="text"]:focus,
.input textarea:focus {
    outline: 2px solid rgba(141, 65, 189, 0.57);
}