.home {
    height: 550vh;
    color: hsl(0, 0%, 0%);
}

.main {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: start;
    background-image: url('/assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    color: white;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
    clip-path: polygon(0% 100%, 100% 100%, 50% 0 , 0 0);
}

.box {
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.box.visible {
    opacity: 1;
    transform: translateY(0);
}

.box {
    position: absolute;
    top: 100px;
    width: 100px;
    height: 100px;
    background-color: red;
}

.cards {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payments {
    display: flex;
    flex-direction: column;
}

.payments h1 {
    text-align: center;
    font-size: 2rem;
}

.payments .cards {
    display: flex;
    gap: 5rem;
}