body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  background-color: hsl(228, 21%, 14%);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body,
.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.content {
  padding: 20px;
  overflow-y: auto;
}