.gallery {
    height: 185vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, transparent, hsla(0, 0%, 0%, 0.722), hsla(300, 61%, 23%, 0.673))
}

.container {
    position: relative;
    width: 100%;
    height: 160vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    z-index: 80;
}

.models {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 150px 50px;
    padding: 20px;
}

.models img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.model {
    width: 20%;
    height: 40%;
    border-radius: 6px;
    cursor: pointer;
    background-color: red;
    position: relative;
    transition: all 0.7s ease;
}

.hidden {
    display: none;
}

.pagination {
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
}